.menu {
    background-color: bisque;
    text-align: center;
    width: 150px;
    height: 100px;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    float: left;
}

.menu:hover {
    background-color: rgb(13, 162, 221);
    color: rgb(0, 255, 13);
}

.sanpham {
    width: 1000px;
    height: auto;
    background-color: rgb(233, 196, 248);
    border-radius: 20px;
    float: left;
    display: inline-block;
}

.hangmoi {
    margin-left: 20px;
    width: 300px;
    height: auto;
    background-color: rgb(233, 196, 248);
    border-radius: 20px;
    float: left;
    display: inline-block;
}

.tieude {
    text-align: center;
}